Hello, and welcome to my personal web page!
I am a researcher in high-energy astrophysics, currently working at the <a href="https://www.mpi-hd.mpg.de" target="_blank">Max Planck Institute for Nuclear Physics</a> in Heidelberg.<br>
My main interest is the study of Galactic sources of high-energy gamma rays.<br>
I am currently serving as director of the <a href="https://hess-experiment.eu" target="_blank">H.E.S.S.</a> experiment<br>and am a member of the <a href="https://www.ctao.org" target="_blank">CTAO</a> project.
